<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.cankolay.android.overlay.beyond1lte.systemui"
  android:versionCode="1"
  android:versionName="1.0">
  <overlay
    android:isStatic="true"
    android:priority="251"
    android:targetPackage="com.android.systemui" />
</manifest>
